@if (Request.IsAuthenticated)
{
    <ul class="dropdown-menu dropdown-navbar" id="user_menu1">
        <li><a href="/vi">Tiếng Việt</a></li>
        <li><a href="/en">English</a></li>
        <li><a href="/cn">Chinese</a></li>
    </ul>
}