@model ts.ictu.HtmlPage
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ts.ictu.DB.Entities.Menu.FirstOrDefault(m => m.Url != null && m.Url.ToLower().Contains(Model.KeyUrl.ToLower())).Title;
}
<div class="panel-details" style="padding: 17px;">
                    @Html.Raw(Model.Content)
                </div>