.label-add
{
    line-height: 28px;
    font-weight: bold;
}
.fleft
{
    text-align: left !important;
    padding-left: 20px;
}
table.styleWidth
{
    width: 50%;
}
.validation-summary-errors, .error, .f_req
{
    color: Red;
}
.nav-list li.hiddenField
{
    display: none;
}
.topLogo
{
    display: block;
    float: left;
    line-height: 49px;
    text-align: center;
    width: 100%;
}
#navbar .Fluild-Edit
{
    position: relative;
}
#navbar .Fluild-Edit #OptionLogin
{
    position: absolute;
    top: 10px;
    width: 98%;
}
#navbar .Fluild-Edit #OptionLogin .user-profile
{
    float: right;
}

/******* table hide button delete and edit ********************/

.EditItem, .DeleteItem
{
    display: none;
}


/**************** Edit boostrap *******************************/
label, input, button, select, textarea
{
    font-size: 13px;
}
input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
{
    height: 15px;
}

.form-horizontal .control-group
{
    margin-bottom: 8px;
}
label
{
    margin-bottom: 0;
}
.paddingtop10
{
    padding-top: 10px;
}
.report
{
    padding: 30px 10px 20px 10px;
    position: relative;
    border: 1px solid #A5A5A5;
}
.report .btn-legend
{
    position: absolute;
    top: -10px;
    left: 20px;
    height: auto;
    border: 1px solid #ccc;
}
.report .btn.btn-primary
{
    margin-bottom: 2px;
    height: 90px;
    font-size: 13px;
}

.modal
{
    width: 800px;
    margin-left: -375px;
}

.field-validation-error
{
    color: red;
    float: left;
}
.Maintenance .field-validation-error
{
    float: none;
}
.requiredStar
{
    color: Red;
}
.wrap-selectTripInfo
{
    margin: 10px 0;
}
.cleardiv
{
    width: 100%;
    float: left;
    margin: 5px 0;
}
.boxScroll
{
    max-height: 400px;
    overflow-y: scroll;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid #ccc;
    background: none repeat scroll 0 0 white;
}
.navbar .btn-navbar
{
    position:relative;
    z-index:10000;
}
.colorBlue
{
    color:Blue;
}

