@model List<ts.ictu.Cate>
<div class="row-fluid">
    <div class="span12">
        <h3>
            Kênh tin</h3>
        <div class="row-fluid">
            @Html.Partial("_TopButton", "Cate")
        </div>
        <table class="table">
            <tr>
                <th>
                    <input type="checkbox" name="" value="" class="checkAll" />
                </th>
                <th>
                    Tiêu đề
                </th>
                <th>
                    Key url
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="checkOwner" value="@item.ID" class="checkitem"/>
                    </td>
                    <td>
                        @Html.ActionLink(item.Title, "AdminEdit", new { id = item.ID })
                    </td>
                    <td>
                        @(item.KeyUrl)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
