@{
    ViewBag.Title = "Restore database";
}
<div class="row-fluid">
    <div class="span12">
        <h3 class="heading">
            Restore database</h3>
        <div id="RestoreData">
            @Html.Partial("_RestorePartial")
        </div>
    </div>
</div>
<div style="display:none;text-align:center" id="dvloader">
    <img src="../../Content/img/loader6.gif" alt="loading"/>
</div>
