@using ts.ictu;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-warning box-index-news">
    <div class="panel-body">
            <p class="text-danger">Bạn đã ký thành công, nhấn vào @Html.ActionLink("Đây", "Index", "Home") để trở lại trang chủ</p>
    </div>
</div>